
.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

div.menu {
    z-index: 999;
    background-color: #ced7de;
    border-bottom: #c2cad1 3px solid;
    width: 100%;
    height: 40px;
    position: fixed;
}

div.menu_drop_down {
    width: 100%;
    top: 40px;
    position: fixed;
    z-index: 998;
    background-color: #c2cad1;
    border-bottom: #7f9da1 solid 3px;
}

div.drop_menu_icon {
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: white;
}


a.menu_links {
    color: #707070;
    text-decoration: none;
    margin: 2px 17px 2px 0;
    font-size: 15px;
    float: right;
}

div.drop_menu_wrapper {
    padding-left: 10px;
    padding-top: 11px;
    float: left;
}

div.drop_menu_wrapper:hover {
    cursor: pointer;
}

p.menu_text {
    float: right;
    color: #707070;
    font-size: 20px;
    margin: 10px;
}


p.menu_links {
    color: white;
    font-size: 20px;
    margin: auto 15px;
}

body {
    margin: 0;
    font-family: Calibri, serif;
}

h2.footer_header {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

p.footer_text {
    font-size: 12px;
    margin: 0;
}

div.footer_section_wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    div.footer_section_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media only screen and (min-width: 651px) {
    div.footer_section_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 49%;
    }
}

div.footer_content_wrapper {
    min-width: 100px;

}

footer.main_footer {
    background: #ced7de;
    border-top: #c2cad1 3px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

/*Srood-css*/


.unik-ptag {
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

.under-rubrik {
    color: black;

    font-size: 12px;
    text-align: center;
}

.titel-rubrik {

    color: black;
    text-align: center;
    font-size: 75px;

}
